---
title: Home
description: Timiu's online repository
image: https://source.unsplash.com/j5LSbCqB1wA/2000x1322?a=.png
bottom_image: https://unsplash.it/2000/1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable" data-i18n-en="Timiu's online repository" data-i18n-zh="Timiu 的在线仓库">Timiu's online repository </h1>
			<p class="subtext editable" data-i18n-en="Art Design Technology Study Life" data-i18n-zh="艺术 设计 科技 学习 生活">Art Design Technology Study Life </p>
			<!-- <div class="cta button alt"><a href="#">Join Now</a></div> -->
		</div>
	</div>
		<div class="learn-more"><a href="#learn-more" data-i18n-en="Swipe down" data-i18n-zh="向下滑动">Swipe down <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable" data-i18n-en="Intro" data-i18n-zh="简介">Intro </h2>
				<p class="editable" data-i18n-en="Making news friends in the adult world is hard. Frisco is the perfect filter matching you the most interesting people in your area." data-i18n-zh="成年后结交新朋友很难。Frisco 可以在您的地区筛选最有趣的人与您匹配。">Making news friends in the adult world is hard. Frisco is the perfect filter matching you the most interesting people in your area.</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable" data-i18n-en="About me" data-i18n-zh="关于我">About me</h2>
				<p class="editable" data-i18n-en="A software & game developer. Mainly focus on Game topics, VFX, Backend. I always like to live a free lifestyle, learning new stuff, and willing to share some interesting things." data-i18n-zh="软件与游戏开发者。主要关注游戏、视觉特效和后端。我喜欢自由的生活方式，喜欢学习并分享有趣的事情。">A software & game developer. Mainly focus on Game topics, VFX, Backend. I always like to live a free lifestyle, learning new stuff, and willing to share some interesting things.</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable" data-i18n-en="What are my blogs about" data-i18n-zh="我的博客内容">What are my blogs about</h2>
				<p class="editable" data-i18n-en="We browse information from the internet at a very large amount of flow from everyday life, that information is well worse to be collected. A blog is a form of record that information. not like social media, Blogs can record a subject in a detailed way. So I use it to share some interesting information." data-i18n-zh="我们从日常生活中浏览大量信息，这些信息值得被收藏。博客是一种记录信息的方式，与社交媒体不同，博客可以详尽记录主题。因此我用它来分享一些有趣的信息。">We browse information from the internet at a very large amount of flow from everyday life, that information is well worse to be collected. A blog is a form of record that information. not like social media, Blogs can record a subject in a detailed way. So I use it to share some interesting information.</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<!-- <section class="info">
		<div class="container">
			<div class="text center-text">
				<h2 class="editable">Address</h2>
				<p class="editable">Arcisstrasse 21, 80333 Munich, Germany</p>
			</div>
		</div>
	</section> -->

	<!-- <section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Find your buddy today</h2>
				<p class="subtext editable">It's free, fun and an exciting way to meet new people.</p>
				<div class="cta button alt"><a href="#">Join Now</a></div>
			</div>
		</div>
	</section> -->
</div>
